/*-------------------------
	Menu Styles
--------------------------*/

.context-menu-icon-straight_line::before{
	content: url(../img/straight_line_2.svg);
	color: #2980b9;
    font-family: context-menu-icons;
    transform: translateY(-50%);
}
.context-menu-icon-free_form::before{
	content: url(../img/freeform_2.svg);
	color: #2980b9;
    font-family: context-menu-icons;
    transform: translateY(-50%);
}
.context-menu-icon-circle::before{
	content: url(../img/circle_2.svg);
	color: #2980b9;
    font-family: context-menu-icons;
    transform: translateY(-50%);
}
.buttoned-navbar .btn-toolbar {
    padding-top: 5px;
}