<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/assets/css/slack_like.css" />
		<link rel="stylesheet" href="/assets/css/menu.css" />

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>2d drawing game</title>
        
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css">
        
        <link href="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.min.css" rel="stylesheet" type="text/css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        
        <script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.min.js" type="text/javascript"></script>

        <script src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.ui.position.min.js" type="text/javascript"></script>

        <script src="https://swisnl.github.io/jQuery-contextMenu/js/main.js" type="text/javascript"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <style>
            /*#container { margin-left: 50px; width:1000px; height: 600px; border: 1px green solid}*/
            /*#paper {  border: none; z-index: 100; position: absolute; top: 80px; left: 245px;} */
            .menu_container { margin: 8px;}
            .btn-img{padding: 3px;}
            /*.whatever:before {content: "\EA05";}*/
        </style>
    </head>

    <body>
        
       <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
           <div class="container" id="navbar-container">
              <div class="navbar-header">
                 <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
                 <a href="."><img alt="2d drawing game" id="LogoStrataNowHome" src="/assets/img/two_shape_logo_thicker.svg"></a>
                 <span class="channel-menu_name"  id="top_nav_room_name">
                    <span class="channel-menu_prefix">Welcome </span>
                    <%=username %>
                </span>

              </div>
              <div id="navbarCollapse" class="collapse navbar-collapse navbar-right buttoned-navbar">
                 <ul class="nav navbar-nav">
                    <!--<li id="nav-bar-home" class="active">
                        <a href="."> Refresh </a>
                    </li>-->
                    <li id="nav-bar-about">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group" role="group" aria-label="First group" data-toggle="buttons">
                                <label class="btn btn-primary" style="padding: 4px 6px;">
                                    <input type="radio" name="options" id="toolbar_straight_line" autocomplete="off">
                                    <img src="/assets/img/straight_line_1.svg" alt="line" title="line" style="width:30px;"/>
                                </label>
                                <label class="btn btn-primary" style="padding: 4px 6px;">
                                    <input type="radio" name="options" id="toolbar_circle" autocomplete="off">
                                    <img src="/assets/img/circle_1.svg" alt="circle" title="circle"  style="width:30px;"/>
                                </label>
                                <label class="btn btn-primary" style="padding: 4px 6px;">
                                    <input type="radio" name="options" id="toolbar_freeform" autocomplete="off">
                                    <img src="/assets/img/free_form_1.svg" alt="free form" title="free form" style="width:30px;"/>
                                </label>
                                <label class="btn btn-primary" style="padding: 4px 6px;">
                                    <input type="radio" name="options" id="toolbar_point" autocomplete="off">
                                    <img src="/assets/img/point.svg" alt="point" title="point" style="width:30px;"/>
                                </label>
                                <label class="btn btn-primary active" style="padding: 4px 6px;">
                                    <input type="radio" name="options" id="toolbar_stop_drawing" autocomplete="off" checked>
                                    <img src="/assets/img/stop1.svg" alt="stop drawing" title="stop drawing" style="width:30px;"/>
                                </label>
                            </div>
                            <div class="btn-group" role="group" aria-label="Second group">
                                <button type="button" id="toolbar_delete_shape" class="btn btn-primary" style="padding: 4px 5px;">
                                    <img src="/assets/img/delete.svg" alt="delete shape" title="delete shape" style="width:30px;"/>
                                </button>
                            </div>
                            <!--
                            <div class="btn-group" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-default whatever"></button>
                                <button type="button" class="btn btn-default">6</button>
                                <button type="button" class="btn btn-default">7</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                                <button type="button" class="btn btn-default">8</button>
                            </div>
                            -->
                        </div>
                    </li>
                    <li id="nav-bar-contact"><a href="contact"> Contact Us</a></li>
                    <!-- <li id="nav-bar-signin" ><a href="signin"> Sign In </a></li> -->
                    <li id="nav-bar-toggle-sidebar"><a href="#" id=""> Toggle Sidebar </a></li>
                 </ul>
              </div>
           </div>
        </nav>

        <div class="header">
<!--   
            <div class="team-menu">drawing game</div>
            <div class="channel-menu">
                <span class="channel-menu_name"  id="top_nav_room_name">
                    <span class="channel-menu_prefix">Welcome </span>
                    <%=username %>
                </span>
            </div>


            <div class="menu_container">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group" data-toggle="buttons">
                        <label class="btn btn-primary" style="padding: 4px 6px;">
                            <input type="radio" name="options" id="toolbar_straight_line" autocomplete="off">
                            <img src="/assets/img/straight_line_1.svg" alt="line" title="line" style="width:30px;"/>
                        </label>
                        <label class="btn btn-primary" style="padding: 4px 6px;">
                            <input type="radio" name="options" id="toolbar_circle" autocomplete="off">
                            <img src="/assets/img/circle_1.svg" alt="circle" title="circle"  style="width:30px;"/>
                        </label>
                        <label class="btn btn-primary" style="padding: 4px 6px;">
                            <input type="radio" name="options" id="toolbar_freeform" autocomplete="off">
                            <img src="/assets/img/free_form_1.svg" alt="free form" title="free form" style="width:30px;"/>
                        </label>
                        <label class="btn btn-primary" style="padding: 4px 6px;">
                            <input type="radio" name="options" id="toolbar_point" autocomplete="off">
                            <img src="/assets/img/point.svg" alt="point" title="point" style="width:30px;"/>
                        </label>
                        <label class="btn btn-primary active" style="padding: 4px 6px;">
                            <input type="radio" name="options" id="toolbar_stop_drawing" autocomplete="off" checked>
                            <img src="/assets/img/stop1.svg" alt="stop drawing" title="stop drawing" style="width:30px;"/>
                        </label>
                    </div>
                    <div class="btn-group" role="group" aria-label="Second group">
                        <button type="button" id="toolbar_delete_shape" class="btn btn-primary" style="padding: 4px 5px;">
                            <img src="/assets/img/delete.svg" alt="delete shape" title="delete shape" style="width:30px;"/>
                        </button>
                    </div>
                </div>
            </div>
-->
        </div>

        <div class="main">
            <div class="listings toggled" id="sidebar-wrapper">
                <div class="listings_channels">
                    <h2 class="listings_header">Channels</h2>
                    <ul class="channel_list">
                        <li class="channel active">
                            <a class="channel_name">
                                <span class="unread" id="number_of_room_visitors">
                                    <%=number_of_room_visitors%>
                                </span>
                                <span id="left_vbar_room_name">
                                    <span class="prefix">#</span><%=room%>
                                </span>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="listings_direct-messages_properties">
                    <div>Zoom: <span id="zoom_value">1</span></div>
                    <div>
                        Pan: <span id="pan_x">0</span> <span id="pan_y">0</span>
                    </div>
                    <div>
                        MP(abs): <span id="mouse_x">0</span> <span id="mouse_y">0</span>
                    </div>
                    <div>
                        MP(adj): <span id="mouse_adjusted_x">0</span> <span id="mouse_adjusted_y">0</span>
                    </div>
                    <div id="shape_properties">
       

                    </div>
                    <button type="button" class="btn btn-primary btn-sm" onClick="$.publish('debug_show_shapes')" >Shapes</button>'
                </div>
                
                <p class="disclaimer"></p>
            </div>
            <div class="message-history">
                <canvas id="paper" class="context-menu-one">
                    Your browser needs to support canvas for this to work!
                </canvas>
            </div>
        </div>
        
        <!-- JavaScript includes. Notice that socket.io.js is served by node.js -->
        <script src="https://cdn-orig.socket.io/socket.io-1.4.4.js"></script>
        <script>
            var dragHandles = [];
            var imgDragHandle = new Image();
            imgDragHandle.src = "/assets/img/black_drag_handle.png";
            imgDragHandle.src = "/assets/img/handle.svg";
            //to store freeFormp points temporarily (while drawing free form and until after creating FreeFormObject)
            // it is outside cause drawing function uses it
            var freeFormTemporaryPoints = [];
        </script>
        <script src="/assets/js/auto_generated/bundle.js"></script>
        <script src="/assets/js/utils/context_menu.js"></script>
        <script src="/assets/js/utils/tiny_pub_sub.js"></script>
    </body>
</html>